body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 25px;
}
.formulaire_container{
    display: flex;
    background-color: rgb(96, 87, 182);
    width: 800px; 
    padding-left: 50px;
    height: 350px; 
    padding-top: 30px;
}
.information_container{
    padding-left: 50px;
    font-size: 24px;
}
#name_input, #firstname_input, #birth_input, #age_input, #adress_input, #adress_input, #number_input   {
    height: 20px;
    border-radius: 5px;
    outline: none; 
}
input{
    border: none;
    background-color: antiquewhite;
}
.name, .firstname, .birth, .age, .adress, .adress, .number {
    padding-top: 4px;
    color: rgb(15, 18, 20);
}
#name_span{
    text-transform: uppercase;
    color: aliceblue;
}
#firstname_span, #birth_span, #age_span, #adress_span, #adress_span, #number_span{
    text-transform: capitalize;
    color: aliceblue;
}
p{
    padding-left: 50px;
    color: rgb(192, 190, 55);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.button_container{
    margin-left: 100px; 
    margin-top: 280px;
}
button{
    height: 30px;
    width: 100px;
    font-size: 18px;
    font-family: sans-serif;
    border-radius: 20px;
    outline: none;
    border: none;  
    color: rgb(63, 23, 109);
    background-color: antiquewhite;
}