body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 25px;
    background-color: rgb(156, 153, 149);
}
.formulaire_container{
    background: linear-gradient(200deg, rgb(146, 118, 190) 0%, rgb(92, 30, 172) 50%, rgb(153, 32, 143) 100%);
    width: 800px; 
    padding: auto;
    height: 350px; 
    margin: auto;
    margin-top: 250px;
    border-radius: 20px;
    padding-left: 50px;
    padding-top: 25px;
    overflow: auto;
}
.information_container{
    padding-left: 50px;
    font-size: 22px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    resize: horizontal;
}
@media screen and (max-width:780px) {
    .information_container{
    padding-left: 0%;
    height: 100px;   
}
}
#name_input, #firstname_input, #birth_input, #age_input, #adress_input, #adress_input, #number_input   {
    height: 20px;
    border-radius: 5px;
    outline: none; 
}
input{
    border: none;
    background-color: antiquewhite;
}
.name, .firstname, .birth, .age, .adress, .adress, .number {
    padding-top: 4px;
    color: rgb(15, 18, 20);
}
#name_span{
    text-transform: uppercase;
    color: aliceblue;
}
#firstname_span, #birth_span, #age_span, #adress_span, #adress_span, #number_span{
    text-transform: capitalize;
    color: aliceblue;
}
p{
    padding-left: 50px;
    color: rgb(192, 190, 55);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.information1_container, .information_container {
    display: inline-block;
}
@media screen and (max-width: 780px) {
    .information1_container, .information_container, .formulaire_container{
        width: 100%;
        height: 50vh;       
    } 
}